### THIS IS MY CLEANED FILE FOR CONVERSION TO A PYTHON FILE FOR SUBMITTAL.

In [792]:
# Dependencies and Setup
import pandas as pd
import scrapbook as sb

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

#### THESE FIRST CODE BLOCKS ARE TO ANALYZE THE DATAFRAME CREATED FROM THE COMBINED CSVs.

In [793]:
school_data_complete.head() # to see columns

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [794]:
school_data_complete.describe() # to see statistical information that can be used

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [795]:
school_data_complete["school_name"].nunique() # https://www.geeksforgeeks.org/how-to-count-distinct-values-of-a-pandas-dataframe-column/
# total number of schools

15

In [796]:
school_data_complete["school_name"].value_counts() # how many students at each school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [797]:
school_data_complete["school_name"].value_counts().sum() # to verify total number of students

39170

#### Calculate the total number of schools.  ANSWER = 15

In [798]:
school_data_complete["School ID"].nunique() # another way to get total number of schools

15

In [799]:
total_schools = school_data_complete["School ID"].nunique() # to put into a variable name to add to summary dataframe
total_schools

15

#### Calculate the total number of students.  ANSWER = 39170

In [800]:
school_data_complete["Student ID"].nunique() # another way to get total students

39170

In [801]:
school_data_complete["Student ID"].count() # checking to see if count works

39170

In [802]:
total_students = school_data_complete["Student ID"].nunique() # to get into a variable to add to a summary dataframe
total_students

39170

#### Calculate the total budget.  ANSWER  = $24,649,428.00

In [803]:
total_budget_amount = school_data_complete["budget"].unique().sum().round(2) # total budget
total_budget_amount

24649428

In [804]:
# to round total budget
total_budget = "${:,.2f}".format(total_budget_amount) # https://www.adamsmith.haus/python/answers/how-to-format-currency-in-python
total_budget

'$24,649,428.00'

In [805]:
school_data_complete.dtypes  # I found I had to consistently keep track of datatypes.

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

#### I WANTED TO TRY DIFFERENT METHODS TO GET ROUNDED NUMBERS FOR THE COMPUTED RESULTS.
#### HENCE METHOD 1 AND METHOD 2.  BOTH METHODS SHOW THE RESULTS IN THE REQUIRED FORMAT.

In [806]:
# Method 1 - using named variables for the rounded values

#### Calculate the average math score.  ANSWER = 78.99

In [807]:
average_math = school_data_complete["math_score"].mean()
rounded_math_average = round(average_math,2)
rounded_math_average

78.99

#### Calculate the average reading score.  ANSWER = 81.88

In [808]:
average_reading = school_data_complete["reading_score"].mean()
rounded_reading_average = round(average_reading,2)
rounded_reading_average

81.88

#### THIS IS THE START OF CALCULATIONS TO Calculate the percentage of students with a passing math score (70 or greater)

In [809]:
passed_math = (school_data_complete["math_score"]>=70).sum() # https://stackoverflow.com/questions/50539880/python-count-dataframe-column-values-meeting-condition
passed_math

29370

#### PERCENTAGE OF STUDENS WITH A PASSING MATH SCORE (70 OR GREATER) = 74.98

In [810]:
percent_passed_math = (((school_data_complete["math_score"]>=70).sum())/total_students)*100
rounded_percent_passed_math = round(percent_passed_math,2)
rounded_percent_passed_math

74.98

#### Calculate the percentage of students with a passing reading score (70 or greater).  ANSWER = 85.81

In [811]:
passed_reading = (school_data_complete["reading_score"]>=70).sum()
passed_reading

33610

In [812]:
percent_passed_reading = (((school_data_complete["reading_score"]>=70).sum())/total_students)*100
rounded_percent_passed_reading = round(percent_passed_reading,2)
rounded_percent_passed_reading

85.81

In [813]:
passed_both = ((school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)).sum()
passed_both

25528

In [814]:
# one thing I noticed did not work
# passed_both = (passed_math & passed_reading).sum() # this gave a wildly different amount (522)
# also, this amount stayed in "passed_both" until I ran the code blocks again using the sum against the "and" of the dataframe columns

#### Calculate the percentage of students who passed math **and** reading (% Overall Passing).  ANSWER = 65.17

In [815]:
percent_passed_both = (passed_both/total_students)*100
rounded_percent_passed_both = round(percent_passed_both,2)
rounded_percent_passed_both

65.17

#### Create a dataframe to hold the above results

In [816]:
summary = [{"Total Schools": total_schools, "Total Students":total_students,
                                    "Total Budget":total_budget,
                                    "Average Math Score": rounded_math_average,
                                    "Average Reading Score": rounded_reading_average,
                                    "% Passing Math": rounded_percent_passed_math,
                                   "% Passing Reading": rounded_percent_passed_reading,
                                   "% Overall Passing": rounded_percent_passed_both}]
District_Summary_df = pd.DataFrame(summary)
District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

In [817]:
# Method 2 - using built in functions to round values

In [818]:
average_math = school_data_complete["math_score"].mean()
round(average_math,2)

78.99

In [819]:
average_reading = school_data_complete["reading_score"].mean()
round(average_reading,2)

81.88

In [820]:
passed_math = (school_data_complete["math_score"]>=70).sum() # https://stackoverflow.com/questions/50539880/python-count-dataframe-column-values-meeting-condition
passed_math

29370

In [821]:
percent_passed_math = (((school_data_complete["math_score"]>=70).sum())/total_students)*100
round(percent_passed_math,2)

74.98

In [822]:
passed_reading = (school_data_complete["reading_score"]>=70).sum()
passed_reading

33610

In [823]:
percent_passed_reading = (((school_data_complete["reading_score"]>=70).sum())/total_students)*100
round(percent_passed_reading,2)

85.81

In [824]:
passed_both = ((school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)).sum()
passed_both

25528

In [825]:
percent_passed_both = (passed_both/total_students)*100
round(percent_passed_both,2)

65.17

In [826]:
summary = [{"Total Schools": total_schools, "Total Students":total_students,
                                    "Total Budget":total_budget,
                                    "Average Math Score": round(average_math,2),
                                    "Average Reading Score": round(average_reading,2),
                                    "% Passing Math": round(percent_passed_math,2),
                                   "% Passing Reading": round(percent_passed_reading,2),
                                   "% Overall Passing": round(percent_passed_both,2)}]
District_Summary_df = pd.DataFrame(summary)
District_Summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

# DATAFRAME TO SHOW THE DISTRICT SUMMARY

In [827]:
District_Summary_df.set_index("Total Schools") # to hide index - https://python-forum.io/thread-32275.html

,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Schools,,,,,,,
15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

In [828]:
sb.glue("PyCitySchools District Summary",District_Summary_df.set_index("Total Schools"),display=True)

,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Total Schools,,,,,,,
15,39170,"$24,649,428.00",78.99,81.88,74.98,85.81,65.17

## STARTING SCHOOL SUMMARY

In [829]:
# school_data_complete.head() # ran output again to cut down on scrolling

In [830]:
# START of new dataframe so as not to affect the original.
schools_df = school_data_complete
# schools_df.head()

In [831]:
# And made another copy of the copy to preserve datatypes.
schools70_df1 = schools_df.copy(deep=False) # https://appdividend.com/2020/08/07/pandas-dataframe-copy/

In [832]:

# schools70_df1.head()

In [833]:
# math70 = schools70_df["math_score"] >= 70
# reading70 = schools70_df["reading_score"] >= 70
# both70 = schools70_df[(schools70_df["math_score"] >= 70) & (schools70_df["reading_score"] >= 70)]
# these were initially used to clear error message in which >= was not recognized in groupby series and int.

In [834]:
# ADDED THESE EXTRA COLUMNS BECAUSE THEY ARE USEFUL LATER ON WITH THE GROUPBY OPERATION.

In [835]:
schools70_df2 = schools70_df1.copy(deep=False)

In [836]:
schools70_df2["math-over-70"] = schools70_df2["math_score"] >= 70

In [837]:
schools70_df2["reading-over-70"] = schools70_df2["reading_score"] >= 70

In [838]:
schools70_df2["both-over-70"] = (schools70_df2["math_score"] >= 70) & (schools70_df2["reading_score"] >= 70)

In [839]:
schools70_df2.rename(columns={"budget": "Total School Budget", "type": "School Type",
                              "school_name": "School Name", "size": "Total Students"}, inplace=True)
# schools70_df2.head()
# TO GET COLUMN NAMES IN THE DESIRED FORMAT.

In [840]:
# to keep track of the datatypes for budget columns
# schools70_df2.dtypes

In [841]:
schools70_df2["Per Student Budget"] = schools70_df2["Total School Budget"] / schools70_df2["Total Students"]

In [842]:
# schools70_df2.head()

In [843]:
# TO MAKE SURE BUDGET DATATYPES REMAINED AS INT64 OR FLOAT64.
# schools70_df2.dtypes

In [844]:
# before formatting on budget columns changes from float to object
top_schools = schools70_df2.groupby(["School Name"])
# THIS IS THE BEGINNING OF THE "SCHOOL NAME" BECOMING A PERSISTENT KEY.
# top_schools.head()

In [845]:
# schools70_df2.dtypes

In [846]:
# schools70_df2 to schools70_df3
# to use when map format budgets into dollars
schools70_df3 = schools70_df2.copy()
# schools70_df3.dtypes

In [847]:
schools70_df3["Total School Budget"] = schools70_df3["Total School Budget"].map('${:,.2f}'.format)
schools70_df3["Per Student Budget"] = schools70_df3["Per Student Budget"].map('${:,.2f}'.format)
# schools70_df3.head()

In [848]:
# budget columns datatypes have changed to object
# schools70_df3.dtypes

In [849]:
# new groupby after formatting on budget columns changes from float to object
top_schools1 = schools70_df3.groupby(["School Name"])
# top_schools1.head()

In [850]:
# top_schools1 did nothing to group columns, but it kept the key at "School Name"
# This aided with calculates run after the groupby.

In [851]:
# NOTE! NOTE! NOTE! Left all the rest of the calculations with
# top_schools in place.  Have not changed to top_schools1 yet.
# Will probably need to use top_schools1 for "School Summary" portion.
# FIXED

In [852]:
# schools70_df2.head()

In [853]:

# schools70_df2["math_score"].head()

In [854]:
math_test1 = round(schools70_df2["math_score"].mean(),2)
# IT MATTERS WHICH DATAFRAME IS BEING REFERENCED NOW, WHETHER THE KEY IS PICKED UP OR NOT.
# SINCE DF IS schools70_df2, THE RESULTS OF math_test1 DON'T SHOW AGAINST EACH SCHOOL NAME LIKE THEY ARE
# GROUPBY DATAFRAME (top_schools1) IS USED.
#  Hence, the single value result versus the 15 results when the groupby key "School Name" is active.
# As shown in the next code block.
math_test1

78.99

### START OF ALL CALCULATIONS NEEDED FOR SCHOOL SUMMARY RESULTS

In [855]:
math = round(top_schools1["math_score"].mean(),2)
math

School Name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [856]:
reading = round(top_schools1["reading_score"].mean(),2)
reading

School Name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [857]:
top_schools_total_students = top_schools1["Student ID"].nunique()
top_schools_total_students

School Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [858]:
sum_math70 = top_schools1["math-over-70"].sum()
sum_math70

School Name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math-over-70, dtype: int64

In [859]:
total_students_top_schools = top_schools1["Total Students"]
total_students_top_schools.count()

School Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Total Students, dtype: int64

In [860]:
top_school_percent_passed_math = (sum_math70 / (total_students_top_schools.count()) * 100)
math_percent = round(top_school_percent_passed_math, 2)
math_percent

School Name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [861]:
sum_reading70 = top_schools1["reading-over-70"].sum()
sum_reading70

School Name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading-over-70, dtype: int64

In [862]:
top_school_percent_passed_reading = (sum_reading70 / (total_students_top_schools.count()) * 100)
reading_percent = round(top_school_percent_passed_reading, 2)
reading_percent

School Name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [863]:
sum_both70 = top_schools1["both-over-70"].sum()
sum_both70

School Name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: both-over-70, dtype: int64

In [864]:
top_school_percent_passed_both = (sum_both70 / (total_students_top_schools.count()) * 100)
overall_percent = round(top_school_percent_passed_both, 2)
overall_percent

School Name
Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
dtype: float64

In [865]:
# converted entire "budget" column too soon, and this caused formula to not work.
# Needed both "size" and "budget" to be int64 dtypes
# This forced me to go back and redo dataframes and new groupby with key "School Name" to preserve datatypes
# DON'T DO FORMATTING UNTIL ALL CALCULATIONS ARE DONE!
per_student_budget = top_schools1["Per Student Budget"]
per_student_budget.value_counts()

School Name            Per Student Budget
Bailey High School     $628.00               4976
Cabrera High School    $582.00               1858
Figueroa High School   $639.00               2949
Ford High School       $644.00               2739
Griffin High School    $625.00               1468
Hernandez High School  $652.00               4635
Holden High School     $581.00                427
Huang High School      $655.00               2917
Johnson High School    $650.00               4761
Pena High School       $609.00                962
Rodriguez High School  $637.00               3999
Shelton High School    $600.00               1761
Thomas High School     $638.00               1635
Wilson High School     $578.00               2283
Wright High School     $583.00               1800
Name: Per Student Budget, dtype: int64

In [866]:
top_schools_type = top_schools1["School Type"].unique()
#top_schools_type.value_counts()
top_schools_type

School Name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: School Type, dtype: object

In [867]:
top_schools_name = top_schools1["School Name"].unique()
# top_schools_name.value_counts()
top_schools_name

School Name
Bailey High School          [Bailey High School]
Cabrera High School        [Cabrera High School]
Figueroa High School      [Figueroa High School]
Ford High School              [Ford High School]
Griffin High School        [Griffin High School]
Hernandez High School    [Hernandez High School]
Holden High School          [Holden High School]
Huang High School            [Huang High School]
Johnson High School        [Johnson High School]
Pena High School              [Pena High School]
Rodriguez High School    [Rodriguez High School]
Shelton High School        [Shelton High School]
Thomas High School          [Thomas High School]
Wilson High School          [Wilson High School]
Wright High School          [Wright High School]
Name: School Name, dtype: object

In [868]:
budget_top_schools = top_schools1["Total School Budget"]
# formatted_total_budget = budget_top_schools.unique()
formatted_total_budget = budget_top_schools.value_counts()
formatted_total_budget.head()

School Name           Total School Budget
Bailey High School    $3,124,928.00          4976
Cabrera High School   $1,081,356.00          1858
Figueroa High School  $1,884,411.00          2949
Ford High School      $1,763,916.00          2739
Griffin High School   $917,500.00            1468
Name: Total School Budget, dtype: int64

In [869]:
# top_schools1.head()

In [870]:
top_schools1["School Name"].count()

School Name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School Name, dtype: int64

In [871]:
# top_schools1.nunique()

In [872]:
# "School Name": top_schools_name.unique(),
# "Total School Budget": formatted_total_budget
# budget_top_schools.value_counts()

## SCHOOL SUMMARY RESULTS DATAFRAME

In [873]:
schools_summary_df = pd.DataFrame({
                                   "School Type": top_schools_type,
                                   "Total Students": total_students_top_schools.count(),
                                   "Total School Budget": budget_top_schools.unique()
                                  })

In [874]:
schools_summary_df["Per Student Budget"] = per_student_budget.unique()
schools_summary_df["Average Math Score"] = round(top_schools1["math_score"].mean(),2)
schools_summary_df["Average Reading Score"] = round(top_schools1["reading_score"].mean(),2)
schools_summary_df["% Passing Math"]  = round(top_school_percent_passed_math, 2)
schools_summary_df["% Passing Reading"] = round(top_school_percent_passed_reading, 2)
schools_summary_df["% Overall Passing"] = round(top_school_percent_passed_both, 2)
schools_summary_df#.set_index("school_name")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,[District],4976,"[$3,124,928.00]",[$628.00],77.05,81.03,66.68,81.93,54.64
Cabrera High School,[Charter],1858,"[$1,081,356.00]",[$582.00],83.06,83.98,94.13,97.04,91.33
Figueroa High School,[District],2949,"[$1,884,411.00]",[$639.00],76.71,81.16,65.99,80.74,53.20
Ford High School,[District],2739,"[$1,763,916.00]",[$644.00],77.10,80.75,68.31,79.30,54.29
Griffin High School,[Charter],1468,"[$917,500.00]",[$625.00],83.35,83.82,93.39,97.14,90.60
Hernandez High School,[District],4635,"[$3,022,020.00]",[$652.00],77.29,80.93,66.75,80.86,53.53
Holden High School,[Charter],427,"[$248,087.00]",[$581.00],83.80,83.81,92.51,96.25,89.23
Huang High School,[District],2917,"[$1,910,635.00]",[$655.00],76.63,81.18,65.68,81.32,53.51
Johnson High School,[District],4761,"[$3,094,650.00]",[$650.00],77.07,80.97,66.06,81.22,53.54
Pena High School,[Charter],962,"[$585,858.00]",[$609.00],83.84,84.04,94.59,95.95,90.54
Rodriguez High School,[District],3999,"[$2,547,363.00]",[$637.00],76.84,80.74,66.37,80.22,52.99
Shelton High School,[Charter],1761,"[$1,056,600.00]",[$600.00],83.36,83.73,93.87,95.85,89.89
Thomas High School,[Charter],1635,"[$1,043,130.00]",[$638.00],83.42,83.85,93.27,97.31,90.95
Wilson High School,[Charter],2283,"[$1,319,574.00]",[$578.00],83.27,83.99,93.87,96.54,90.58
Wright High School,[Charter],1800,"[$1,049,400.00]",[$583.00],83.68,83.96,93.33,96.61,90.33

In [875]:
# schools_summary_df.dtypes

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [876]:
sb.glue("PyCitySchools School Summary",schools_summary_df,display=True)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,[District],4976,"[$3,124,928.00]",[$628.00],77.05,81.03,66.68,81.93,54.64
Cabrera High School,[Charter],1858,"[$1,081,356.00]",[$582.00],83.06,83.98,94.13,97.04,91.33
Figueroa High School,[District],2949,"[$1,884,411.00]",[$639.00],76.71,81.16,65.99,80.74,53.20
Ford High School,[District],2739,"[$1,763,916.00]",[$644.00],77.10,80.75,68.31,79.30,54.29
Griffin High School,[Charter],1468,"[$917,500.00]",[$625.00],83.35,83.82,93.39,97.14,90.60
Hernandez High School,[District],4635,"[$3,022,020.00]",[$652.00],77.29,80.93,66.75,80.86,53.53
Holden High School,[Charter],427,"[$248,087.00]",[$581.00],83.80,83.81,92.51,96.25,89.23
Huang High School,[District],2917,"[$1,910,635.00]",[$655.00],76.63,81.18,65.68,81.32,53.51
Johnson High School,[District],4761,"[$3,094,650.00]",[$650.00],77.07,80.97,66.06,81.22,53.54
Pena High School,[Charter],962,"[$585,858.00]",[$609.00],83.84,84.04,94.59,95.95,90.54
Rodriguez High School,[District],3999,"[$2,547,363.00]",[$637.00],76.84,80.74,66.37,80.22,52.99
Shelton High School,[Charter],1761,"[$1,056,600.00]",[$600.00],83.36,83.73,93.87,95.85,89.89
Thomas High School,[Charter],1635,"[$1,043,130.00]",[$638.00],83.42,83.85,93.27,97.31,90.95
Wilson High School,[Charter],2283,"[$1,319,574.00]",[$578.00],83.27,83.99,93.87,96.54,90.58
Wright High School,[Charter],1800,"[$1,049,400.00]",[$583.00],83.68,83.96,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

### TOP PERFORMING SCHOOLS BY % OVERALL PASSING RESULTS DATAFRAME

In [877]:
schools_summary_df.sort_values("% Overall Passing", ascending=False).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,[Charter],1858,"[$1,081,356.00]",[$582.00],83.06,83.98,94.13,97.04,91.33
Thomas High School,[Charter],1635,"[$1,043,130.00]",[$638.00],83.42,83.85,93.27,97.31,90.95
Griffin High School,[Charter],1468,"[$917,500.00]",[$625.00],83.35,83.82,93.39,97.14,90.60
Wilson High School,[Charter],2283,"[$1,319,574.00]",[$578.00],83.27,83.99,93.87,96.54,90.58
Pena High School,[Charter],962,"[$585,858.00]",[$609.00],83.84,84.04,94.59,95.95,90.54

In [878]:
sb.glue("PyCitySchools Top Performing Schools by % Overall Passing",schools_summary_df.sort_values("% Overall Passing", ascending=False).head(5),display=True)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,[Charter],1858,"[$1,081,356.00]",[$582.00],83.06,83.98,94.13,97.04,91.33
Thomas High School,[Charter],1635,"[$1,043,130.00]",[$638.00],83.42,83.85,93.27,97.31,90.95
Griffin High School,[Charter],1468,"[$917,500.00]",[$625.00],83.35,83.82,93.39,97.14,90.60
Wilson High School,[Charter],2283,"[$1,319,574.00]",[$578.00],83.27,83.99,93.87,96.54,90.58
Pena High School,[Charter],962,"[$585,858.00]",[$609.00],83.84,84.04,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

### BOTTOM PERFORMING SCHOOLS BY % OVERALL PASSING RESULTS DATAFRAME

In [879]:
schools_summary_df.sort_values("% Overall Passing", ascending=True).head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,[District],3999,"[$2,547,363.00]",[$637.00],76.84,80.74,66.37,80.22,52.99
Figueroa High School,[District],2949,"[$1,884,411.00]",[$639.00],76.71,81.16,65.99,80.74,53.20
Huang High School,[District],2917,"[$1,910,635.00]",[$655.00],76.63,81.18,65.68,81.32,53.51
Hernandez High School,[District],4635,"[$3,022,020.00]",[$652.00],77.29,80.93,66.75,80.86,53.53
Johnson High School,[District],4761,"[$3,094,650.00]",[$650.00],77.07,80.97,66.06,81.22,53.54

In [880]:
sb.glue("PyCitySchools Bottom Performing Schools by % Overall Passing",schools_summary_df.sort_values("% Overall Passing", ascending=True).head(5),display=True)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,[District],3999,"[$2,547,363.00]",[$637.00],76.84,80.74,66.37,80.22,52.99
Figueroa High School,[District],2949,"[$1,884,411.00]",[$639.00],76.71,81.16,65.99,80.74,53.20
Huang High School,[District],2917,"[$1,910,635.00]",[$655.00],76.63,81.18,65.68,81.32,53.51
Hernandez High School,[District],4635,"[$3,022,020.00]",[$652.00],77.29,80.93,66.75,80.86,53.53
Johnson High School,[District],4761,"[$3,094,650.00]",[$650.00],77.07,80.97,66.06,81.22,53.54

In [881]:
# schools_summary_df.count()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [882]:

# math_mean_df = schools70_df2.loc[(schools70_df2["grade"]), :]
# math_mean_df.head()

In [883]:
# math_mean_by_grade = schools70_df2[["School Name", "grade", "Average Math Score"]]
# math_mean_by_grade.groupby(["School Name", "grade"]).mean()
# mm_by_grade = schools70_df2.value_counts(["School Name", "grade"])
# mm_by_grade.head()
mm_group = schools70_df2[["School Name", "grade", "math_score"]]
mm_group1 = mm_group.groupby(["School Name", "grade"])["math_score"].mean()
mm_group1.head()
# mm_group1.to_frame()

School Name          grade
Bailey High School   10th     76.996772
                     11th     77.515588
                     12th     76.492218
                     9th      77.083676
Cabrera High School  10th     83.154506
Name: math_score, dtype: float64

In [884]:
mm_group = schools70_df2[["School Name", "grade", "math_score"]]
# mm_group1 = mm_group.groupby(["School Name", "grade"])["math_score"].mean()
# mm_group1.to_frame()
# mm_group9 = pd.DataFrame(mm_group.loc[mm_group["grade"]=="9th"])
# mm_group9.head()
# mm_group.head()

In [885]:
# mm_group = schools70_df2[["School Name", "grade", "math_score"]]
# mm_group.groupby(["School Name", "grade"])["math_score"].mean()
mm_group2 = mm_group.groupby(["grade", "School Name"])["math_score"].mean()
# mm_group2.to_frame()

In [886]:
mm_group3 = mm_group.groupby(["grade","School Name"])[["grade","math_score"]].mean()
# mm_group3

In [887]:
mm_group4 = mm_group.groupby(["School Name","grade"])[["grade","math_score"]].mean().reset_index()
# mm_group4

In [888]:
# FOR CONVENIENCE
# schools70_df2.head()

In [889]:
# NEXT STEP! Try to drive .loc back to schools70_df2 - before any groupby
# repeat schools70_df2 for reference
schools70_df2.shape

(39170, 15)

In [890]:
schools70_df2.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'School Name',
       'reading_score', 'math_score', 'School ID', 'School Type',
       'Total Students', 'Total School Budget', 'math-over-70',
       'reading-over-70', 'both-over-70', 'Per Student Budget'],
      dtype='object')

In [891]:
# test1_df = schools70_df2[["School Name", "grade", "math_score"]]
# test1_df.head()
# don't need

### START OF CALCULATIONS USED IN MATH SCORES BY GRADE

In [892]:
test1_df9 = schools70_df2.loc[schools70_df2["grade"] == "9th", ["School Name", "math_score"]]
# test1_df9.head()

In [893]:
test1_df9_group = round(test1_df9.groupby(["School Name"])["math_score"].mean(),2)
test1_df9_group

School Name
Bailey High School       77.08
Cabrera High School      83.09
Figueroa High School     76.40
Ford High School         77.36
Griffin High School      82.04
Hernandez High School    77.44
Holden High School       83.79
Huang High School        77.03
Johnson High School      77.19
Pena High School         83.63
Rodriguez High School    76.86
Shelton High School      83.42
Thomas High School       83.59
Wilson High School       83.09
Wright High School       83.26
Name: math_score, dtype: float64

In [894]:
test1_df10 = schools70_df2.loc[schools70_df2["grade"] == "10th", ["School Name", "math_score"]]
test1_df10_group = round(test1_df10.groupby(["School Name"])["math_score"].mean(),2)
test1_df10_group

School Name
Bailey High School       77.00
Cabrera High School      83.15
Figueroa High School     76.54
Ford High School         77.67
Griffin High School      84.23
Hernandez High School    77.34
Holden High School       83.43
Huang High School        75.91
Johnson High School      76.69
Pena High School         83.37
Rodriguez High School    76.61
Shelton High School      82.92
Thomas High School       83.09
Wilson High School       83.72
Wright High School       84.01
Name: math_score, dtype: float64

In [895]:
test1_df11 = schools70_df2.loc[schools70_df2["grade"] == "11th", ["School Name", "math_score"]]
test1_df11_group = round(test1_df11.groupby(["School Name"])["math_score"].mean(),2)
test1_df11_group

School Name
Bailey High School       77.52
Cabrera High School      82.77
Figueroa High School     76.88
Ford High School         76.92
Griffin High School      83.84
Hernandez High School    77.14
Holden High School       85.00
Huang High School        76.45
Johnson High School      77.49
Pena High School         84.33
Rodriguez High School    76.40
Shelton High School      83.38
Thomas High School       83.50
Wilson High School       83.20
Wright High School       83.84
Name: math_score, dtype: float64

In [896]:
test1_df12 = schools70_df2.loc[schools70_df2["grade"] == "12th", ["School Name", "math_score"]]
test1_df12_group = round(test1_df12.groupby(["School Name"])["math_score"].mean(),2)
test1_df12_group

School Name
Bailey High School       76.49
Cabrera High School      83.28
Figueroa High School     77.15
Ford High School         76.18
Griffin High School      83.36
Hernandez High School    77.19
Holden High School       82.86
Huang High School        77.23
Johnson High School      76.86
Pena High School         84.12
Rodriguez High School    77.69
Shelton High School      83.78
Thomas High School       83.50
Wilson High School       83.04
Wright High School       83.64
Name: math_score, dtype: float64

### START OF CALCULATIONS FOR READING SCORE BY GRADE
* DONE SAME WAY AS MATH SCORE BY GRADE

In [897]:
# start the same process for reading
read_ave_df9 = schools70_df2.loc[schools70_df2["grade"] == "9th", ["School Name", "reading_score"]]
read_ave_df9_group = round(read_ave_df9.groupby(["School Name"])["reading_score"].mean(),2)
read_ave_df9_group

School Name
Bailey High School       81.30
Cabrera High School      83.68
Figueroa High School     81.20
Ford High School         80.63
Griffin High School      83.37
Hernandez High School    80.87
Holden High School       83.68
Huang High School        81.29
Johnson High School      81.26
Pena High School         83.81
Rodriguez High School    80.99
Shelton High School      84.12
Thomas High School       83.73
Wilson High School       83.94
Wright High School       83.83
Name: reading_score, dtype: float64

In [898]:
read_ave_df10 = schools70_df2.loc[schools70_df2["grade"] == "10th", ["School Name", "reading_score"]]
read_ave_df10_group = round(read_ave_df10.groupby(["School Name"])["reading_score"].mean(),2)
read_ave_df10_group

School Name
Bailey High School       80.91
Cabrera High School      84.25
Figueroa High School     81.41
Ford High School         81.26
Griffin High School      83.71
Hernandez High School    80.66
Holden High School       83.32
Huang High School        81.51
Johnson High School      80.77
Pena High School         83.61
Rodriguez High School    80.63
Shelton High School      83.44
Thomas High School       84.25
Wilson High School       84.02
Wright High School       83.81
Name: reading_score, dtype: float64

In [899]:
read_ave_df11 = schools70_df2.loc[schools70_df2["grade"] == "11th", ["School Name", "reading_score"]]
read_ave_df11_group = round(read_ave_df11.groupby(["School Name"])["reading_score"].mean(),2)
read_ave_df11_group

School Name
Bailey High School       80.95
Cabrera High School      83.79
Figueroa High School     80.64
Ford High School         80.40
Griffin High School      84.29
Hernandez High School    81.40
Holden High School       83.82
Huang High School        81.42
Johnson High School      80.62
Pena High School         84.34
Rodriguez High School    80.86
Shelton High School      84.37
Thomas High School       83.59
Wilson High School       83.76
Wright High School       84.16
Name: reading_score, dtype: float64

In [900]:
read_ave_df12 = schools70_df2.loc[schools70_df2["grade"] == "12th", ["School Name", "reading_score"]]
read_ave_df12_group = round(read_ave_df12.groupby(["School Name"])["reading_score"].mean(),2)
read_ave_df12_group

School Name
Bailey High School       80.91
Cabrera High School      84.29
Figueroa High School     81.38
Ford High School         80.66
Griffin High School      84.01
Hernandez High School    80.86
Holden High School       84.70
Huang High School        80.31
Johnson High School      81.23
Pena High School         84.59
Rodriguez High School    80.38
Shelton High School      82.78
Thomas High School       83.83
Wilson High School       84.32
Wright High School       84.07
Name: reading_score, dtype: float64

#### THESE WERE THE INITIAL CALCULATIONS FOR MATH SCORE BY GRADE, BUT THE DATAFRAME DID NOT WORK.

In [901]:
mm9 = mm_group4.loc[lambda mm_group4: mm_group4["grade"] == "9th"]
mean_math_9 = round(mm9, 2)
# mean_math_9

In [902]:
mm10 = mm_group4.loc[lambda mm_group4: mm_group4["grade"] == "10th"]
mean_math_10 = round(mm10, 2)
# mean_math_10

In [903]:
mm11 = mm_group4.loc[lambda mm_group4: mm_group4["grade"] == "11th"]
mean_math_11 = round(mm11, 2)
# mean_math_11

In [904]:
mm12 = mm_group4.loc[lambda mm_group4: mm_group4["grade"] == "12th"]
mean_math_12 = round(mm12, 2)
# mean_math_12

In [905]:
# mm12 = mm_group4.loc[lambda mm_group4: mm_group4["grade"] == "12th"].mean()
# mean_math_12 = [round(mm12, 2)]
# mean_math_12

In [906]:
# mm9

In [907]:
# "School Name": [mm_group4["School Name"]],

### MATH SCORES BY GRADE RESULTS DATAFRAME

In [908]:
math_mean_by_grade = pd.DataFrame({
                                   "9th": test1_df9_group,
                                  "10th": test1_df10_group,
                                  "11th": test1_df11_group,
                                  "12th": test1_df12_group})
math_mean_by_grade

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [909]:
sb.glue("PyCitySchools Math Scores by Grade",math_mean_by_grade, display=True)

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

### READING SCORE BY GRADE RESULTS DATAFRAME

In [910]:
reading_mean_by_grade = pd.DataFrame({"9th": read_ave_df9_group,
                                      "10th": read_ave_df10_group,
                                      "11th": read_ave_df11_group,
                                      "12th": read_ave_df12_group})
reading_mean_by_grade

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [911]:
sb.glue("PyCitySchools Reading Scores by Grade",reading_mean_by_grade, display=True)

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [912]:
# REPEATED FOR CONVENIENCE
# schools_summary_df.head()

In [913]:
# schools_summary_df.dtypes

### TO DETERMINE BIN SIZES FOR PER STUDENT SPENDING RANGE

In [914]:
schools_summary_df["Per Student Budget"].sort_values()
# bins on Per Student Budget: range = 655-578 = 77 
# round range up to 100/4, so 4 bins of 25 starting at 575
# 575 - 600, 600 - 625, 625 - 650, 650 - 675

School Name
Wilson High School       [$578.00]
Holden High School       [$581.00]
Cabrera High School      [$582.00]
Wright High School       [$583.00]
Shelton High School      [$600.00]
Pena High School         [$609.00]
Griffin High School      [$625.00]
Bailey High School       [$628.00]
Rodriguez High School    [$637.00]
Thomas High School       [$638.00]
Figueroa High School     [$639.00]
Ford High School         [$644.00]
Johnson High School      [$650.00]
Hernandez High School    [$652.00]
Huang High School        [$655.00]
Name: Per Student Budget, dtype: object

In [915]:
# schools_spending_df = schools_summary_df[[
#                                          "Average Math Score", "Average Reading Score",
#                                          "% Passing Math", "% Passing Reading",
#                                          "% Overall Passing"]]
# schools_spending_df["Per Student Budget"] = schools70_df2["Per Student Budget"]
# schools_spending_df.head()
# keep getting NaN in this new column.  Move cells up before cut and rerun.

In [916]:
# schools_summary_df["PSB"] = schools_summary_df["Per Student Budget"].replace({'$':''}), regex = True
# schools_summary_df["PSB"] = schools_summary_df["Per Student Budget"].astype(str).astype(int)
# schools_summary_df["PSB"]

# kept getting errors with trying to change dtypes
# abandoned

### BINS AND LABELS SET UP

In [917]:
bins = [ 575, 600, 625, 650, 675]
group_names = ["<$600", "$600 - $625", "$625 - $650", "$650 - $675"]

In [918]:
# schools_summary_df["Per School Per Student Budget"] = pd.cut(schools_summary_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)
# because budget columns were changed to object datatype after mapping
# to show thousands of dollars, switching back to schools70_df2
# which was created with change in dtypes
# test cut with schools70_df2

In [919]:
# schools70_df2.head()
# CRAP!  Did it again!  Did not pay attention that I added a column to the schools70_df2
# after I did the cut!
# need to make schools70_df4 to keep from altering schools70_df2

In [920]:
schools70_df4 = schools70_df2.copy()
# to keep from adding column to schools70_df2
# even this copy affects schools70_df2
# make a new series out of schools70_df2 column and try slice 
# test_cut = schools70_df2[["Per Student Budget"]]
# test_cut.rename(columns={"Per Student Budget" : "PSB"})
schools70_df4["PSB"] = schools70_df4["Per Student Budget"]
# schools70_df4.head()

In [921]:
schools70_df4["per PSB"] = pd.cut(schools70_df4["PSB"], bins, labels=group_names, include_lowest=True)
# schools70_df4["Per Student Budget"]
# schools70_df4["per PSB"].value_counts()
# STILL NOT THE NEEDED RESULTS

In [922]:
# make another dataframe like schools_summary_df except with dtypes to allow cuts
# kept getting errors when making schools_spending_df from schools_summary_df
# need to generate from pd.DataFrame

In [923]:
per_student_budget1 = top_schools["Per Student Budget"].unique()
per_student_budget1.head()

School Name
Bailey High School      [628.0]
Cabrera High School     [582.0]
Figueroa High School    [639.0]
Ford High School        [644.0]
Griffin High School     [625.0]
Name: Per Student Budget, dtype: object

#### START OF PER STUDENT SPENDING DATAFRAME CREATION

In [924]:
schools_spending_df = pd.DataFrame({
                                   "Student_Budget": per_student_budget1,
                                   "Average Math Score" : round(top_schools1["math_score"].mean(),2),
                                   "Average Reading Score" : round(top_schools1["reading_score"].mean(),2),
                                   "% Passing Math"  : round(top_school_percent_passed_math, 2),
                                   "% Passing Reading" : round(top_school_percent_passed_reading, 2),
                                   "% Overall Passing" : round(top_school_percent_passed_both, 2) 
                                  })
schools_spending_df.head()

,Student_Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,
Bailey High School,[628.0],77.05,81.03,66.68,81.93,54.64
Cabrera High School,[582.0],83.06,83.98,94.13,97.04,91.33
Figueroa High School,[639.0],76.71,81.16,65.99,80.74,53.20
Ford High School,[644.0],77.10,80.75,68.31,79.30,54.29
Griffin High School,[625.0],83.35,83.82,93.39,97.14,90.60

In [925]:
schools_spending_df["Spending Range per Student"] = pd.cut(schools_spending_df["Student_Budget"], bins, labels=group_names, include_lowest=True)
# schools70_df4["Per Student Budget"]
# schools_spending_df["Spending Range per Student"].value_counts()

In [926]:
schools_spending_df.head()

,Student_Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Range per Student
School Name,,,,,,,
Bailey High School,[628.0],77.05,81.03,66.68,81.93,54.64,$625 - $650
Cabrera High School,[582.0],83.06,83.98,94.13,97.04,91.33,<$600
Figueroa High School,[639.0],76.71,81.16,65.99,80.74,53.20,$625 - $650
Ford High School,[644.0],77.10,80.75,68.31,79.30,54.29,$625 - $650
Griffin High School,[625.0],83.35,83.82,93.39,97.14,90.60,$600 - $625

### SCORES BY SCHOOL SPENDING RESULTS DATAFRAME

In [927]:
grouped_schools_spending_df = round(schools_spending_df.groupby("Spending Range per Student").mean(),2)
grouped_schools_spending_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Range per Student,,,,,
<$600,83.43,83.89,93.54,96.46,90.27
$600 - $625,83.60,83.93,93.99,96.54,90.57
$625 - $650,78.03,81.42,71.11,83.45,59.94
$650 - $675,76.96,81.06,66.22,81.09,53.52

In [928]:
sb.glue("PyCitySchools Scores by School Spending",grouped_schools_spending_df, display=True)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Range per Student,,,,,
<$600,83.43,83.89,93.54,96.46,90.27
$600 - $625,83.60,83.93,93.99,96.54,90.57
$625 - $650,78.03,81.42,71.11,83.45,59.94
$650 - $675,76.96,81.06,66.22,81.09,53.52

In [929]:
# FOR CONVENIENCE
# schools70_df2

## Scores by School Size

* Perform the same operations as above, based on school size.

In [930]:
total_students_top_schools = top_schools1["Total Students"].count()
# total_students_top_schools.head()

In [931]:
# schools70_df2["Total Students"].value_counts()

### BIN SIZE DETERMINATION AND LABEL ASSIGNMENTS

In [932]:
# school size range: from 4976 - 427 = 4549, 5000 - 400 = 4600
# roughly 3 bins of 1800: 200 + 1800 = 2000, 2000 + 1500 = 3500, 3500 + 1500 = 5000

In [933]:
bins_school_size = [ 200, 2000, 3500, 5000]
group_names_school_size = ["Small (<1500)", "Medium (1500 - 3000)", "Large (>3000)"]

### INITIAL SCHOOL SIZE DATAFRAME

In [934]:
schools_size_df = pd.DataFrame({"School Size": total_students_top_schools,
                                "Average Math Score" : round(top_schools1["math_score"].mean(),2),
                                "Average Reading Score" : round(top_schools1["reading_score"].mean(),2),
                                "% Passing Math"  : round(top_school_percent_passed_math, 2),
                                "% Passing Reading" : round(top_school_percent_passed_reading, 2),
                                "% Overall Passing" : round(top_school_percent_passed_both, 2)
                                  })
schools_size_df.head()

,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,
Bailey High School,4976,77.05,81.03,66.68,81.93,54.64
Cabrera High School,1858,83.06,83.98,94.13,97.04,91.33
Figueroa High School,2949,76.71,81.16,65.99,80.74,53.20
Ford High School,2739,77.10,80.75,68.31,79.30,54.29
Griffin High School,1468,83.35,83.82,93.39,97.14,90.60

In [935]:
schools_size_df["School Size Averages"] = pd.cut(schools_size_df["School Size"], bins_school_size, labels=group_names_school_size, include_lowest=True)
schools_size_df["School Size Averages"].value_counts()

Small (<1500)           7
Medium (1500 - 3000)    4
Large (>3000)           4
Name: School Size Averages, dtype: int64

In [936]:
schools_size_df.head()

,School Size,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size Averages
School Name,,,,,,,
Bailey High School,4976,77.05,81.03,66.68,81.93,54.64,Large (>3000)
Cabrera High School,1858,83.06,83.98,94.13,97.04,91.33,Small (<1500)
Figueroa High School,2949,76.71,81.16,65.99,80.74,53.20,Medium (1500 - 3000)
Ford High School,2739,77.10,80.75,68.31,79.30,54.29,Medium (1500 - 3000)
Griffin High School,1468,83.35,83.82,93.39,97.14,90.60,Small (<1500)

### FINAL SCORES BY SCHOOL SIZE RESULTS DATAFRAME

In [937]:
school_size_averages_df = schools_size_df[["School Size Averages", "Average Math Score",
                                          "Average Reading Score", "% Passing Math",
                                          "% Passing Reading", "% Overall Passing"]]
grouped_school_size_averages_df = round(school_size_averages_df.groupby(["School Size Averages"]).mean(),2)
grouped_school_size_averages_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size Averages,,,,,
Small (<1500),83.50,83.88,93.58,96.59,90.41
Medium (1500 - 3000),78.43,81.77,73.46,84.48,62.90
Large (>3000),77.06,80.92,66.46,81.06,53.68

In [938]:
sb.glue("PyCitySchools Scores by School Size",grouped_school_size_averages_df, display=True)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size Averages,,,,,
Small (<1500),83.50,83.88,93.58,96.59,90.41
Medium (1500 - 3000),78.43,81.77,73.46,84.48,62.90
Large (>3000),77.06,80.92,66.46,81.06,53.68

## Scores by School Type

* Perform the same operations as above, based on school type

In [939]:
top_schools_type1 = top_schools1["School Type"]
# top_schools_type1.value_counts()

In [940]:
# INITIALLY TRIED TO USE EVERYTHING FROM PREVIOUS RESULTS DATAFRAME AND TAILOR IT TO GET ONE SCHOOL TYPE 
# TRIED TO SET UP BINNING FOR SCHOOL TYPE, BUT COULD NOT GET IT TO WORK
# EVEN AFTER I CREATED INTEGER VALUES TO REPRESENT THE OBJECT DTYPES FOR "CHARTER" AND "DISTRICT"
# REPEATED PREVIOUS SOLUTION DATAFRAME FOR CONVENIENCE 
# school_size_averages_df.head()

In [941]:
schools70_df5 = schools70_df2.copy()
# schools70_df5.head()

In [942]:
# school_size_averages_df.count()

In [943]:
# print(schools70_df5["School Type"][39165])

In [944]:
# print(schools70_df5["School Type"][29117])

In [945]:
schools70_type = [schools70_df5["School Type"]]

In [946]:
# print(schools70_type)

In [947]:
# type(schools70_type)

In [948]:
schools70_df5["School Type Des"] = schools70_df5["School Type"]
# schools70_df5.head().set_index("School Type")

In [949]:
schools70_df5["School Type Des"].replace({"District":969, "Charter": 970}, inplace = True)
# schools70_df5.set_index("School Type Des").head()

In [950]:
# schools70_df5["School Type Des"].dtype

In [951]:
# schools70_df5.head()

In [952]:
schools_type_group_test_df = schools70_df5.groupby(["School Type Des", "School Type"])[["math_score", "reading_score"]].mean()
# schools_type_group_test_df

In [953]:
# FIRST INDICATION THAT ONLY A GROUPBY WAS NEEDED WITHOUT THE BINNING
schools_type_group_test_df = schools70_df5.groupby("School Type")[["math_score", "reading_score"]].mean()
schools_type_group_test_df

             math_score  reading_score
School Type
Charter       83.406183      83.902821
District      76.987026      80.962485

In [954]:
# schools_type_group_test1_df = schools70_df5.groupby("School Type")[["Average Math Score":"math_score"],
#                                                                     ["Average Reading Score":"reading_score"]].mean()
# schools_type_group_test1_df

In [955]:
group_test1 = schools70_df5.groupby("School Type").groups
# print(group_test1)

### START OF MAKING NEW DATAFRAME TO CLEAR GROUPBY KEY "SCHOOL NAME"

In [956]:
schools70_df6 = schools70_df1.copy()
schools70_df6.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [957]:
# previous groupby["School Name"] keeps this index persistent even if the groupby did not work
# See total_schools and total_schools1 dataframes.  They did not work to group anything, but the key used,
# "School Name" stayed persistent throughout all the rest of the dataframes.
# This prevented the groupby["School Type"] from working as it should, and it made me go down rabbit holes
# trying to bin and cut the two strings for school type.  I converted the object dtypes to int64 by
# making each string to a numberic value (969, 970) to see I could get the bin and cut to work.
# Ultimately, I had to completely rebuild a new dataframe in order to use groupby against "School Type"
# This is the start of the rebuild.
# schools70_df6.head()

### NEW GROUPBY KEY "SCHOOL TYPE"

In [958]:
schools70_df6["School Type"] = schools70_df6["type"]
schools70_df6.drop(columns=["type"])
# AFTER INITIALLY USED GROUPBY KEY "TYPE", IT WAS HARD TO CLEAR IT OUT OF THE DATAFRAME.
# I LEFT IT IN RATHER THAN REDO EVERYTHING AND JUST MOVED THIS CODE BLOCK UP.
schools70_df6.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,School Type
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,District
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,District
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,District
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,District
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,District

In [959]:
group_type_df6 = schools70_df6.groupby(["School Type"])
# group_type_df6.nunique()

In [960]:
# group_type_df6.dtypes

### START OF CALCULATIONS RERUN WITH NEW GROUPBY KEY "SCHOOL TYPE"

In [961]:
ave_math = round(group_type_df6["math_score"].mean(),2)
ave_math

School Type
Charter     83.41
District    76.99
Name: math_score, dtype: float64

In [962]:
ave_read = round(group_type_df6["reading_score"].mean(),2)
ave_read

School Type
Charter     83.90
District    80.96
Name: reading_score, dtype: float64

In [963]:
schools70_df6["Pass Math"] = schools70_df6["math_score"] >= 70
schools70_df6["Pass Read"] = schools70_df6["reading_score"] >= 70
schools70_df6["Pass Both"] = (schools70_df6["reading_score"] >= 70) & (schools70_df6["math_score"] >= 70)
# THESE WERE CREATED TO CLEAR ERROR MESSAGE WHERE >= COULD NOT BE RECOGNIZED BETWEEN GROUPBY SERIES AND INT
# schools70_df6.head()

In [964]:
# schools70_df6.rename(columns = {"type" : "School Type"})
# schools70_df6.columns

### CONTINUTATION OF CALCULATIONS AFTER USING NEW GROUPBY KEY "SCHOOL TYPE"

In [965]:
pass_math_df6 = group_type_df6["Pass Math"].sum()
pass_math_df6

School Type
Charter     11426
District    17944
Name: Pass Math, dtype: int64

In [966]:
pass_read_df6 = group_type_df6["Pass Read"].sum()
pass_read_df6

School Type
Charter     11785
District    21825
Name: Pass Read, dtype: int64

In [967]:
pass_both_df6 = group_type_df6["Pass Both"].sum()
pass_both_df6

School Type
Charter     11043
District    14485
Name: Pass Both, dtype: int64

In [968]:
per_math = round(((pass_math_df6 / (group_type_df6["Student ID"].count())) * 100), 2)
per_math

School Type
Charter     93.70
District    66.52
dtype: float64

In [969]:
per_read = round(((pass_read_df6 / (group_type_df6["Student ID"].count())) * 100), 2)
per_read

School Type
Charter     96.65
District    80.91
dtype: float64

In [970]:
per_both = round(((pass_both_df6 / (group_type_df6["Student ID"].count())) * 100), 2)
per_both

School Type
Charter     90.56
District    53.70
dtype: float64

In [971]:
# "School Type": group_type_df6["type"].unique(),

In [972]:
# SUCCESS!!!

### SCORES BY SCHOOL TYPE RESULTS DATAFRAME

In [973]:
type_summary_df = pd.DataFrame({
                                "Average Math Score": ave_math,
                                "Average Reading Score": ave_read,
                                "% Passing Math": per_math,
                                "% Passing Reading": per_read,
                                "% Overall Passing": per_both
                               })
type_summary_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70,96.65,90.56
District,76.99,80.96,66.52,80.91,53.70

In [974]:
sb.glue("PyCitySchools Scores by School Type",type_summary_df.head(), display=True)

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70,96.65,90.56
District,76.99,80.96,66.52,80.91,53.70